# describe data
examination of the surface properties of acquired data
#example 2019

##    1. Yellow Taxi Trip Records

In [1]:
import dataframePreparation as u
import pandas as pd

In [2]:
yellow_orginal = u.fetch_data("m6nq-qud6")
yellow_orginal_df = pd.DataFrame.from_records(yellow_orginal)
yellow_orginal_df

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01T00:30:10.000,2021-01-01T00:36:12.000,1,2.10,1,N,142,43,2,8,3,0.5,0,0,0.3,11.8,2.5
1,1,2021-01-01T00:51:20.000,2021-01-01T00:52:19.000,1,0.20,1,N,238,151,2,3,0.5,0.5,0,0,0.3,4.3,0
2,1,2021-01-01T00:43:30.000,2021-01-01T01:11:06.000,1,14.70,1,N,132,165,1,42,0.5,0.5,8.65,0,0.3,51.95,0
3,1,2021-01-01T00:15:48.000,2021-01-01T00:31:01.000,0,10.60,1,N,138,132,1,29,0.5,0.5,6.05,0,0.3,36.35,0
4,2,2021-01-01T00:31:49.000,2021-01-01T00:48:21.000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,2021-01-01T13:55:14.000,2021-01-01T13:59:31.000,1,0.79,1,N,142,239,1,5.5,0,0.5,2.64,0,0.3,11.44,2.5
9996,2,2021-01-01T13:37:37.000,2021-01-01T13:44:01.000,1,0.75,1,N,161,43,1,6,0,0.5,1.86,0,0.3,11.16,2.5
9997,2,2021-01-01T13:48:52.000,2021-01-01T14:05:13.000,1,3.68,1,N,151,140,2,14.5,0,0.5,0,0,0.3,17.8,2.5
9998,1,2021-01-01T13:06:50.000,2021-01-01T13:10:10.000,1,1.30,1,Y,237,263,1,5.5,2.5,0.5,1.75,0,0.3,10.55,2.5
9999,1,2021-01-01T13:26:43.000,2021-01-01T13:31:59.000,2,0.70,1,N,262,236,1,5.5,2.5,0.5,1.75,0,0.3,10.55,2.5

Content of dataset as described by the source

<img src="data_dictionary_trip_records_yellow-1.png" alt="data dict" style="height: 800px; width:800px;"/>

In [3]:
#Printing the information of dataset
print ("The shape of the  data is (row, column):"+ str(yellow_orginal_df.shape))
print(yellow_orginal_df.info())

The shape of the  data is (row, column):(10000, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  object
 1   tpep_pickup_datetime   10000 non-null  object
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  object
 4   trip_distance          10000 non-null  object
 5   ratecodeid             10000 non-null  object
 6   store_and_fwd_flag     10000 non-null  object
 7   pulocationid           10000 non-null  object
 8   dolocationid           10000 non-null  object
 9   payment_type           10000 non-null  object
 10  fare_amount            10000 non-null  object
 11  extra                  10000 non-null  object
 12  mta_tax                10000 non-null  object
 13  tip_amount             10000 non-null  object
 14  tolls_amount           10000 non-null  object
 15  improvement_surcharge  10000 non-null  object
 16  total_amount           10000 non-null  object
 17  congestion_surcharge   10000 non-null  object
dtypes: object(18)
memory usage: 1.4+ MB
None

### Content of dataset 

It has 17 variables based of the following classification:
1. IDs(vendorid, pulocationid, dolocationid,  ratecodeid)
2. datetimes(pickup and dropoff times)
3. different amounts related to the trip(fareamout, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge)
4. categorical variables(store_and_fwd_flag, payment_type)

we should assign columns types before we carry on with description

In [4]:
yellow_results_df = u.preprocess_data("m6nq-qud6")
print(yellow_results_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  10000 non-null  datetime64[ns]
 3   passenger_count        10000 non-null  int64
 4   trip_distance          10000 non-null  float64
 5   ratecodeid             10000 non-null  object
 6   store_and_fwd_flag     10000 non-null  object
 7   pulocationid           10000 non-null  int64
 8   dolocationid           10000 non-null  int64
 9   payment_type           10000 non-null  object
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(4), object(3)
memory usage: 1.4+ MB
None